

<div class="container mt-4">
    <h2>O nama</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tristique libero. Nullam sit amet urna
                ac dui maximus aliquet. Quisque sollicitudin risus sit amet ligula gravida, a vehicula libero condimentum.
                In efficitur mi at mi finibus, ut eleifend urna feugiat. Fusce auctor arcu nec nisi sodales ultrices.
                Proin nec condimentum nunc, at congue nisi. Duis non magna in odio vehicula interdum.
            </p>
            <p>
                Vestibulum nec justo vel purus blandit fermentum. Integer fringilla ut velit nec consequat. Phasellus ultrices
                justo nec libero laoreet, vel malesuada turpis malesuada. Cras semper, nisl non vulputate facilisis,
                elit eros consequat tortor, in efficitur libero lorem vitae lorem.
            </p>
            <p>
                Fusce in nisi ac ligula posuere lobortis. Vivamus id quam ac urna fermentum fermentum. Nunc in velit eu elit
                placerat congue. Etiam lobortis massa in nunc blandit, id suscipit tortor pellentesque. Nulla facilisi.
                Integer nec volutpat risus.
            </p>
        </div>
    </div>
</div>
