

<div class="container mt-4">
    <h2>Preporuke za iPhone</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p>
                Ako razmišljate o kupovini novog iPhone telefona, evo nekoliko preporuka koje vam mogu pomoći u odabiru.
            </p>
            <ul>
                <li>
                    <strong>Poslednji modeli:</strong> Uvek razmotrite najnovije modele iPhone-a, kako biste iskoristili
                    najnovije funkcije i performanse.
                </li>
                <li>
                    <strong>Kapacitet skladištenja:</strong> Razmislite o vašim potrebama za skladištenjem podataka i izaberite
                    odgovarajući kapacitet.
                </li>
                <li>
                    <strong>Kvalitet kamere:</strong> Ako volite fotografiju, obratite pažnju na karakteristike kamere i
                    njenu sposobnost da snima visokokvalitetne slike.
                </li>
                <li>
                    <strong>Operativni sistem:</strong> iPhone radi na iOS operativnom sistemu, pa proverite da li su vam
                    dostupne i podržane aplikacije koje želite koristiti.
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            
           
        </div>
    </div>
</div>
